*,
html {
  margin: 0;
  padding: 0;
}


body {
  background-color: #3f3f3f;
}


/* header dan navbar */

header {
  background-color: #6e6e6e;
}

.header {

  display: flex;
  justify-content: space-between;
  align-items: center;

}




.logo {
  padding: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  border-radius: 50%;
  object-fit: cover;

}


.navbar {
  font-weight: 700;
  font-size: 100%;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  position: relative;

}

.navbar:hover {
  color: #004AAD;
  transition: 1s ease-in-out;
  background-color: rgb(121, 10, 10);
  border: 2px solid black;
  border-radius: 40%;
}

/* header dan navbar end */

/* content-slideshow */

.slide-content {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('/assets/8-Fakta-Menarik-Vincent-van-Gogh-Pelukis-Ikonik-Starry-Night-16-7-2023-768x384.webp');
}

.slideshow {
  display: flex;
  width: 100%;
  transition: 2s;
}


.slideshow img {
  width: 100%;
  height: auto;
  border-radius: 5%;
padding-bottom: 30px;

}

.container-slideshow {
  width: 700px;
  margin: auto;
  overflow: hidden;
  object-fit: cover;
}

/* content-slideshow end */

/* navigation slideshow */

@media screen and (max-width:800px) {

  .header {
    justify-content: space-evenly;
    margin: 0 auto;

  }


  .nav-slide {
    width: 90%;

  }

  .logo {
    width: 70px;
    height: 70px;
  }

  .navbar {
    font-size: 80%;
    font-weight: 700;

  }

  .section-logo {
    padding-right: 2rem;
  }

  .form-container {
    display: grid;

  }


}

/* navigation slideshow end */


/* form content */
.form-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 50px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
}


.font-welcome {
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.form {
  background-color: #f0f0f0;
  padding: 3rem;
  margin: auto;

}

label {
  display: block;
  margin-bottom: 10px;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

/* Style the submit button */
button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


@media (max-width: 600px) {

  .header {
    justify-content: space-evenly;
    margin: 0 auto;

  }

  .form-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
  }



  input, textarea, select {
    width: 90%;
  }
}


.info-box {
  background-color: #fff;
  padding: 30px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;

}

.info-box h2 {
  margin-top: 0;
}

.info-box p {
  margin-bottom: 10px;
}

/* form content 1 end */